.business {
   width: 50%;
   margin: auto;
 
   height: 60vh;
   overflow-y: scroll;
   overflow-x: hidden;
}
.business-details {
  display: flex;
  flex-direction: column;
}

.business-details h4 {
  font-size: 18px;
  color: #01a39d;
  margin: 10px 0px 20px 20px;
}

.business-details-info {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 30px;
}

.business-details-info div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.business-details-info-key {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
}
.business-details-info-value {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #212121;
}

.products-heading {
  width: 100%;
  background: #eee;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  margin: 5px;
}
.products-heading h4 {
  color: #212121;
  font-size: 14px;
}

.product {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 14%), 0 4px 5px rgb(0 0 0 / 12%),
    0 1px 10px rgb(0 0 0 / 20%);
  margin: 5px;
  padding: 10px 10px 5px;
}
.product-info {
  display: flex;
  flex-direction: row;
  position: relative;
}

.product-display {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-display img {
  height: 95px;
  width: 95px;
  border: 0.1px solid gray;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  position: relative;
  justify-content: space-between;
}
.product-details-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.product-details-date {
  margin-bottom: 10px;
}

.product-details-date,
.product-details-mandi-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.product-details-weight {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
.product-date {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
}
.product-see-details{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.product-hr {
  border: 1px solid #e0e0e0;
}

.product-button{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.share-button-md {
    height: 30px;
    width: 90px;

}

.share-button {
    background: #01a39d;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.share-button-md span {
    font-size: 12px;
}
.share-button span {
    font-weight: 700;
    color: #fff;
}


.share-button-md img {
    height: 11px;
    margin-right: 5px;
}


.action-button {
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.action-button-md {
    height: 30px;
    width: 90px;
}

.action-button-md span {
    font-size: 12px;
}
.action-button span {
    font-weight: 700;
}

.action-button-md img {
    height: 11px;
    margin-right: 5px;
}